#slideshow {
    position:relative;
    height:350px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}


/*.boxgrid{  
    width: 607px;  
    height: 334px;    
    background:#161613;   
}  

.boxcaption{  
    float: left;  
    position: absolute;  
    background: #000;  
    height: 74px;  
    width: 22.4%;  
    opacity: .8;  
}

.caption .boxcaption {  
    top: 220;  
    left: 0;  
} 

*/ 

* {

	font-family:Verdana, Helvetica, Arial, sans-serif;
}


html {
	
	background-color:#ffffff;
	background-image:url('/images/bg1.jpg');
}

body {
	margin:0px;
}

p {

	color:#ffffff;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:10px;
	font-size:20px;
	color:#ffffff;
	line-height:125%;

}

h2 {
	
	color:#EBD90D;
	font-size:18px;
}

h1 {

	font-size:31px;
	color:#E700C8;
	text-align:center;
}

h3 {

	color:#EBD90D;
	margin-bottom:0px;
	margin-top:14px;
	margin-left:10px;
}

td {
	
	float:right;
}

ul {

	padding-left:53px;
	margin-top:34px;
}

.contact {
	
	float:right;
	margin-top:23px;
	padding-right:10px;
	color:#000000;
}

.footer {
	
	background-image:url('/images/web-border.png');
	height:21px;
	margin-top:139px;
}

.box-main {
	
	padding-right:121px;
	padding-left:121px;
	width:797px;
}

.box {
	
	padding-top:20px;
	padding-left:66px;
}

.main-menu ul li {
	
	float:left;
	margin:0 22px;
}

.main-menu {
	
	margin-bottom:10px;
	text-align:center;
}


.first {
	
	color:#000000;
}

.menu {
	
	color:#000000;
	font-size:21px;
}

.header {

	background-image:url('/images/web-border.png');

}


.inner-header {

	text-align:center;
}

.funky-border img  {

	margin-top:20px;
	width:900px;
	height:15px;

}

.social-links {

 margin:20px 261px 20px 259px;
}

.page-block {

	width:1184px;
	margin:auto;
}

.logo {

	margin:15px 0 15px 0;
}


.email-capture {

	float:right;
	width:495px;
	height:191px;
	margin-right:295px;
	margin-bottom:20px;
	border:5px solid #0DECB6;
	
}


.flyer-info {

	/*border:5px solid #0DECB6;*/
	margin-left:35px;


}

.addtional-links {

	overflow:hidden;
	margin:20px;
	margin-left:579px;

}

.addtional-links div  {

	float:left;
	margin-right:15px;
}

.mp3-player a {

	visibility:hidden;
}

.bangbhang img {

	margin-top:30px;
	width:850px;
	height:161px;
}

.border-left {

	float:left;
}

.border-right {

	float:right;
}

.ticket-banner {

	position:fixed;
	bottom:20px;
	right:20px;
}

.master-wrapper {

	width:1556px;
	margin:0px auto;
}

.master {

	width:1000px;
}

.outer-block {

	width:3806px;


}

.footer-links ul li {

	float:left;
	margin:0 22px;
}

.facebook img {

	height:72px;
	width:72px;
}

.twitter img {

	height:72px;
	width:72px;
}


#emf-container{
	color:#000000;
	font-family:Verdana;
}

#emf-container li#emf-li-captcha #emf-captcha-top-settings{
	background-color:#AAD6AA;
	color:#FFFFFF;
}

#emf-container li#emf-li-captcha #emf-captcha-bottom-settings{
	background-color:#E4F8E4;
}

#emf-container li#emf-li-captcha #emf-captcha-input-settings,
#emf-container li#emf-li-captcha #emf-captcha-input-settings a{
	color:#000000;
}

.formError .formErrorContent {
	width: 100%;
	background: #ee0101;
	color: #fff;
	width: auto;
	font-family: tahoma;
	font-size: 11px;
	border: 2px solid #ddd;
	box-shadow: 0px 0px 6px #000;
	-moz-box-shadow: 0px 0px 6px #000;
	-webkit-box-shadow: 0px 0px 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	width:300px
	height:70px
}

.welcome {

 border:1px solid #EBD90D;
 height:108px;
 width:1807px;
 margin-bottom:60px;
 padding-top:20px;

}

/*.special-guest {

	float:right;
	width:804px;
	border:1px solid #EBD90D;
	height:173px;
}

.special-guest p {

	width:777px;
	margin-left:22px;
	padding:9px 0 15px 0;
	font-size:26px;

}

.special-guest h3 {

	width:279px;
	margin-left:22px;
	padding-bottom:10px;
}

.special-guest img {

	width:410px;
	height:566px;
	padding-left:198px;
}